$col-accent: var(--accent);
$col-accent-a-30: var(--accent-a-30);

$col-red: #ff4141;

$col-white: #FFFFFF;
$col-50: #F8F8F8;
$col-100: #DEDEDE;
$col-200: #AAAAAA;
$col-300: #8C8C8C;
$col-400: #5C5C5C;
$col-500: #404040;
$col-600: #2D2D2D;
$col-700: #252525;
$col-800: #1e1e1e;
$col-900: #111111;
$col-black: #000000;

$bg-mod-white: #FFFFFF22;
$bg-mod-black: #00000022;

$shadow-low: #00000044 0 2px 5px;
$shadow-medium: #00000044 0 5px 10px;
$shadow-high: #00000044 0 10px 20px;

$type: 'Poppins', sans-serif;
$type-brand: 'Indie Flower', cursive;